extends ../layout

block content
  h3.page-header #{username.profile.name}
  .row
    .col-md-3
      a.btn.btn-primary.btn-block.fa.fa-user(href='/user/'+username.profile.name+'/encounters')  View Encounters
    .col-md-9
      h4 <b>Email:</b> #{username.email}
      h4 <b>Username:</b> #{username.profile.name}
    
