footer
  .container.text-center
    p.pull-left © 2016 Herman Fassett All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/HermanFassett/pinternet') GitHub Project
      li
        a(href='https://github.com/HermanFassett/pinternet/issues') Issues
