extends layout

block content
    div.container
        h1 Encounters
        hr
        div.col-md-3
          a.btn.btn-success.btn-block.fa.fa-plus(href='/new')  New Encounter
          a.btn.btn-warning.btn-block.fa.fa-download(href='/encounters/download')  Download All
          if user
            a.btn.btn-primary.btn-block.fa.fa-user(href='/user/'+user.profile.name+'/encounters')  My Encounters
          hr
        div.col-md-9
          div.grid
            for item in encounters.reverse().splice(0,100)
              div.grid-item.center-block
                h4 
                  a(href='/encounter/'+item._id) #{item.title}
                p.lead #{(item.description.length > 100) ? item.description.substr(0,100) + "..." : item.description}
                a(href='/user/'+item.owner) #{item.owner}