extends layout

block content
  h1 Project Osiris
  p.lead A helper for Dungeons and Dragons
  hr
  .row
    .col-sm-6
      h1 D.R.A.G.O.N.S.
      ul
        li
          h2 Dynamic
        li
          h2 Real
        li
          h2 Algorithmic
        li
          h2 Game-Assistive
        li
          h2 Organic
        li
          h2 Nice
        li
          h2 Software
    .col-sm-6
      img(src='http://orig11.deviantart.net/16f1/f/2014/075/1/c/chinese_dragon_01_by_clipartcotttage-d7af7nu.png' style="max-width:50%")
  hr
  .row
    h3 Creators:
    h4 Weston, Charles, Bryan, Mitchell, Herman, and Ryan
