extends layout

block content
  .row.well
    h1.text-center Project Osiris
    p.lead.text-center A helper for Dungeons and Dragons
  img.center-img(src='https://i.ytimg.com/vi/1AtUw8Ek20c/maxresdefault.jpg')
  .row.well
    .col
      h3.text-center D.R.A.G.O.N.S.
      hr
      h3.col-md-offset-1 &ndash; Dynamic
      p.lead.col-md-offset-2 &emsp;This software is uber dynamic because it's awesome like that.
      h3.col-md-offset-1 &ndash; Real
      p.lead.col-md-offset-2 &emsp;This software is real because you can download it somewhere.
      h3.col-md-offset-1 &ndash; Algorithmic
      p.lead.col-md-offset-2 &emsp;This software is algorithmic because it might or might not contain some algorithms.
      h3.col-md-offset-1 &ndash; Game-Assistive
      p.lead.col-md-offset-2 &emsp;This software is game-assistive because it's an assistant for a game.
      h3.col-md-offset-1 &ndash; Organic
      p.lead.col-md-offset-2 &emsp;This software is completely organic because it was organically made by the creators without any preservatives.
      h3.col-md-offset-1 &ndash; Nice
      p.lead.col-md-offset-2 &emsp;This software is nice because it was nicely made by nice people to be nice to you.
      h3.col-md-offset-1 &ndash; Software
      p.lead.col-md-offset-2 &emsp;This software is software because duh.
      hr
      h3.col-md-offset-1 Interested yet? Download below!
      p.lead.col-md-offset-2 This is where a link would be if a link existed here, but sadly not any link yet made be so here is a dead link for you to click until you fall asleep: 
        a(href='#') DOWNLOAD NOW!!!
    hr
    h3.col-md-offset-1 Creators:
    h4.col-md-offset-2 Weston, Charles, Bryan, Mitchell, Herman, and Ryan
