extends indexlayout

block content
  header#intro.header-image
    .headline
        h1 D.R.A.G.O.N.S.
        a.btn.btn-primary.page-scroll(href='#about')
          i.fa.fa-angle-down.fa-2x.animated
  
  .container
    hr#about.featurette-divider
    .featurette
      img.featurette-image.img-responsive.pull-right(src='https://i.ytimg.com/vi/1AtUw8Ek20c/maxresdefault.jpg')
      h2.featurette-heading About 
        span.text-muted D.R.A.G.O.N.S.
      p.lead D.R.A.G.O.N.S. is a Dungeon Master's Assistant for Dungeons and Dragons 5th edition. This software allows the user or Dungeon Master to monitor players, enemies, NPCs, and location data of a campaign, as well as keep notes on a campaign. No need to specify a level or go to some site, this software includes all you need to create memorable and fun encounters specifically for your campaign.
  
  
  .container
    hr#player-information.featurette-divider
    .featurette
      img.featurette-image.img-responsive.pull-left(src='../img/player.png')
      h2.featurette-heading Player Information
        span.text-muted
      p.lead D.R.A.G.O.N.S. allows you to create characters for each of your players and easily manage and maintain the stats and skills belonging to each character.

  .container
    hr#generators.featurette-divider
    .featurette
      img.featurette-image.img-responsive.pull-right(src='http://image.prntscr.com/image/8d1939ed8ecc422b8ae204dc7fba207c.png')
      h2.featurette-heading Generators
        span.text-muted
      p.lead.
        D.R.A.G.O.N.S. also contains a generator. This generator can generate random encounters, random events, and random items.
        Pictured on the side is a random encounter generation.
  .container
    hr.featurette-divider
    .featurette
      h2.featurette-heading.text-center Download
      p.lead.text-center This software is in version 1.0 and is currently free of charge. Click below to get the executable file.
      a.btn.btn-lg.btn-primary.center(href="/download") Download Now
  hr.featurette-divider
    
